RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
DirectoryIndex index.php index.html index.py
<FilesMatch "\.(py|html|txt)$">
    Header set Cache-Control "no-store"
</FilesMatch>
AddCharset UTF-8 .txt
## Don't allow access to git directories
<IfModule alias_module>
    RedirectMatch 404 /\.git
    RedirectMatch 404 /tmp/
    RedirectMatch 404 /__pycache__
    RedirectMatch 404 /common.py
    RedirectMatch 404 /constants.py
    RedirectMatch 404 /crypt_utils.py
    RedirectMatch 404 /decrypt.py
    RedirectMatch 404 /new_password_and_user.py
    RedirectMatch 404 /smtp_creds.py
    RedirectMatch 404 /transactionlog.py
    RedirectMatch 404 /config.py
</IfModule>
